h1 {
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
    }

body {
     margin: 0 auto;
     background: url(./images/frontpage.jpg) brown;
     background-repeat: no-repeat;
    }
