<<<<<<< HEAD


img {
	width: 34%;
	height:30%;
  margin: 40px 0px 0px 0px;
  }

header {
=======
h1 {
  color: #A0522D;
>>>>>>> origin/master
  text-align: center;
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
    }
h2 {
  color: white;
  text-align: center;
<<<<<<< HEAD
  color: orange;
  font-family: helvetica;
	margin: 0 auto;
	background: url(./images/frontpage.jpg) brown;
	background-repeat: no-repeat;
}



h1  {
  color: slategrey;
  text-decoration: underline;
  font-family: helvetica;
  text-align: center;
  font-size: 70px;
}

h2 {
  color: darkslategrey;
  text-align: center;
  font-size: 50px;
}

.display-header {
	color:white;
  font-size:64px;
  font-style:italic;
}

.btn-twitter {
	position: relative;
	top:200px;
}

.btn-pinterest {
	position: relative;
	top:200px;
}

.btn-facebook {
	position: relative;
	top:200px;
}

.content {
  width: 800px;
  margin: 100px auto 2px;
	font-size: 25px;
	color: white;
}
.contentmen{
	margin: 20px;
}
=======
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
  }

h2.hello {
  margin-bottom: 35px;
  }

header {
      text-align: center;
      background-size: cover;
      color: white;
    }
a {
      color: white;
      font-family: 'Dancing Script', cursive;
      font-size: 30px;
    }
ul {
      padding: 10px;
      background: black;
    }
.navigation {
      display: inline;
      margin: 50px 0px 0px 0px;  
      text-align: center;
    }
article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
body {
     margin: 0 auto;
     background: url(./images/frontpage.jpg) brown;
     background-repeat: no-repeat;
    }
    
 img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
    }
 
>>>>>>> origin/master
