
img {
	width: 50%;
	height:30%;
  margin: 40px 60px ;
}

header {
 text-align: center;
 background: yellow;
 background-size: cover;
 color: white;
}

ul {
 padding: 10px;
 background: black;
 color: white;
}
li {
display: inline;
padding: 0px 10px 0px 10px;
}

a {
color: pink;
}

body {
 text-align: center;
 color: orange;
 font-family: helvetica;
 margin: 0 auto;
 background: url(./images/frontpage.jpg) brown;
 background-repeat: no-repeat;
}

h1  {
 color: slategrey;
 text-decoration: underline;
 font-family: helvetica;
 text-align: center;
 font-size: 70px;
}

h2 {
 color: darkslategrey;
 text-align: center;
 font-size: 50px;
}

.display-header {
 color:white;
 font-size:64px;
 font-style:italic;
}

.btn-twitter {
 position: relative;
 top:200px;
}

.btn-pinterest {
 position: relative;
 top:200px;
}
.btn-facebook {
 position: relative;
 top:200px;
}
.content {
 width: 800px;
 margin: 100px auto 2px;
 font-size: 25px;
	color: lightblue;
}

.contentmen{
	margin: 30px 50px;
}
.pic{
	margin: 40px 60px ;
}
.button{
	margin-left:100px;
}
